{% extends 'base.html' %}

{% block content%}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Customers....</h1>
{% if customers %}
    {% for customer in customers %}
        {{ customer.first_name }} <br/>
        {{ customer.last_name }} <br/>
        {{ customer.phone }} <br/>
        {{ customer.address }} <br/>
        {{ customer.email }} <br/>
        {{ customer.city }} <br/>
        {{ customer.state }} <br/>
        {{ customer.zipcode }} <br/>
        {{ customer.created_at }} <br/>
        <br/>

    {% endfor %}

{% endif %}

{% else %}


<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control", name = "username", placeholder="Username" required>

    </div><br/>
    <div class="mb-3">
      <input type="password" class="form-control", name = "password", placeholder="Password" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-secondary">Login</button>

</form>



</div>

{% endif %}

{% endblock %}