{% extends 'base.html' %}

{% block content%}

<div class="col-md-6 offset-md-3">

<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">

          <input type="text" class="form-control", name = "Username", placeholder="Username", required>

        </div>
        <div class="mb-3">

          <input type="password" class="form-control", name = "Password", placeholder="Password", required>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>

</div>

{% endblock%}